<%= form_with model: [project, task], local: false do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.select :status, Task.statuses.keys %>
  </p>

  <%= f.submit "Create Task" %>
<% end %>
