<h1><%= @project.project_name %></h1>
<p><%= @project.description %></p>

<%= turbo_frame_tag "tasks" do %>
  <ul id="tasks_list">
    <% # First: pending or in-progress tasks %>
    <%= render @project.tasks.reject { |t| t.status == "done" } %>

    <% done_tasks = @project.tasks.select { |t| t.status == "done" } %>
    <% if done_tasks.any? %>
      <%= render done_tasks %>
    <% end %>
  </ul>
<% end %>

<%= turbo_frame_tag "new_task" do %>
  <br>
  <h2>Add New Task</h2>
  <%= render "tasks/form", project: @project, task: Task.new %>
<% end %>
