<h1><%= @project.project_name %></h1>
<p><%= @project.description %></p>

<turbo-frame id="tasks">
  <ul id="tasks_list">
    <% @project.tasks.each do |task| %>
      <li id="<%= dom_id(task) %>">
        <%= task.title %> (<%= task.status %>)
        <%= link_to "Destroy", project_task_path(@project, task), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %>
      </li>
    <% end %>
  </ul>
</turbo-frame>


<turbo-frame id="new_task">
  <%= render partial: "tasks/form", locals: { project: @project, task: Task.new } %>
</turbo-frame>